

html {
  font-size: 16px;
  background: #004D40;
}


body {
  min-width: 320px;
  margin: 0 auto;
  font: 400 normal 1rem/1 'Open Sans', sans-serif;
  color: #333;
  background: #fff;
  letter-spacing: .01rem;
}


.grid {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.grid-item {
  display: block;
}


.title {
  display: block;
  margin: 0;
  color: #00796B;
  letter-spacing: .02rem;
}
.title.is-large {
  font-size: 2rem;
  line-height: 1.1;
}
.title.is-medium {
  font-size: 1.5rem;
  line-height: 1.2;
}
.title.is-small {
  font-size: 1.25rem;
  line-height: 1.3;
}


.text {
  display: block;
  margin: 0;
  line-height: 1.5;
}
.text.is-small {
  font-size: .9rem;
}
.text.is-large {
  font-size: 1.1rem;
}


.link {
  display: block;
  text-decoration: none;
  color: #00BFA5;
}
.link:hover {
  color: #1DE9B6;
}
.link:active {
  color: #64FFDA;
}


.button {
  display: block;
  text-decoration: none;
}


.table {
  display: block;
  margin: -.5rem;
}
.table .grid {
  padding: .25rem;
}
.table .grid-item {
  padding: .25rem;
  line-height: 1.5;
  text-align: left;
}
.table .grid-item:nth-child(1) {
  width: 3rem;
}
.table .grid-item:nth-child(2) {
  width: calc(100% - 3rem);
}
.table .grid-item:nth-child(3) {
  display: none;
}
.table .grid-item:nth-child(4) {
  display: none;
}
.table-head {
  display: block;
  padding-bottom: .25rem;
  margin-bottom: .5rem;
  color: #00796B;
  letter-spacing: .02rem;
  white-space: nowrap;
  border-bottom: 1px solid #00796B;
}
/*
.table-head > .grid {
  
}
.table-head > .grid > .grid-item {
  
}
*/
.table-body {
  display: block;
}
/*
.table-body > .grid {
  
}
.table-body > .grid > .grid-item {
  
}
*/
.table-body > .grid > .grid-item > .link {
  overflow: hidden;
  font-weight: 600;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.header {
  display: block;
  padding: 2rem;
  background: #ddd;
}
.header > .title {
  margin-bottom: 1rem;
}


.options {
  display: block;
  padding: 1rem 2rem;
  letter-spacing: .02rem;
}
.options > .grid {
  margin: -.5rem;
}
.options > .grid > .grid-item {
  padding: .25rem;
}
.options > .grid > .grid-item > .link {
  padding: .25rem;
  font-weight: 600;
  text-transform: uppercase;
}


.section {
  display: block;
  padding: 2rem;
  background: #eee;
}
.section > .text {
  margin-bottom: 1rem;
}


@media (min-width: 400px) {
  
  
  /*
  .table {
    
  }
  */
  .table .grid-item:nth-child(2) {
    width: calc(50% - 3rem);
  }
  .table .grid-item:nth-child(3) {
    display: block;
    width: 50%;
    text-align: right;
  }
  
  
}

@media (min-width: 600px) {
  
  
  /*
  .table {
    
  }
  */
  .table .grid-item:nth-child(3) {
    width: 30%;
    text-align: left;
  }
  .table .grid-item:nth-child(4) {
    display: block;
    width: 20%;
    text-align: right;
  }
  
  
}

@media (min-width: 800px) {
  
  
  body {
    width: 750px;
  }
  
  
}

@media (min-width: 1000px) {
  
  body {
    width: 900px;
  }
  
}

@media (min-width: 1200px) {
  
  body {
    width: 1050px;
  }
  
}

@media (min-width: 1400px) {
  
  body {
    width: 1200px;
  }
  
}

